
<button class="btn btn-primary" style="float:right;height: 38px;" ng-click="vm.savePreferences()">
    <span class="glyphicon glyphicon-cog"></span>
    Save Settings
</button>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Choose your favourite stocks</h3>
    </div>
    <div class="panel-body" style="padding-left: 50px">
        <md-switch ng-repeat="item in vm.stocksList" class="md-primary material-switch" style="margin:30px; width: 19%; float: left;" ng-model="item.isChecked" ng-click="vm.toggleSelection()" aria-label="Switch 1">                
            <img class="img-dashbord" ng-src="{{item.ImageUrl}}" alt="">
            <span style="margin-left: 10px">{{item.Name}}</span> 
        </md-switch>
    </div>
</div>


<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Do you want to leave here?</h4>
      </div>
      <div class="modal-body">
        <p>Changes you made may not be saved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="cancel-button">Stay</button>
        <button type="button" class="btn btn-primary" id="okay-button">Leave</button>        
      </div>
    </div>
  </div>
</div>
